.home-page {
  @import url('https://fonts.googleapis.com/css2?family=Maname&display=swap');

  --header-spacing: calc(var(--op-space-4x-large) * 3);
  --header-font-size: calc(var(--op-font-6x-large) * 2.5);

  display: flex;
  flex-direction: column;

  .home-page__image {
    width: 100%;
    height: auto;
  }

  .home-page__header {
    position: absolute;
    top: var(--header-spacing);
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
    font-family: "Maname", serif;
    font-size: var(--header-font-size);
    font-weight: var(--op-font-weight-bold);
    color: black;
  }

  .home-page__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--op-space-medium);

    font-size: var(--op-font-4x-large);
  }

  .home-page__buttons {
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: var(--op-space-medium);

    width: clamp(calc(var(--op-breakpoint-x-small) * 0.5), 50%, var(--op-breakpoint-large));
  }
}
